name: linux

on:
  - push
  - pull_request

jobs:
  perl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - '5.30'
          - '5.32'
          - '5.34'
          - '5.36'
        include:
          - perl-version: '5.38'
            release-test: true
            coverage: true
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v1
      - name: Install OS Packages
        run: |
          apt-get update;
          apt-get -y install xmlsec1;
      - name: Install Dependencies
        run: |
          cpanm -nq --installdeps . ;
      - name: Build Module
        run: |
          perl Makefile.PL;
          make
      - name: Run Tests
        if: ${{ !matrix.coverage }}
        run: |
          prove -lr -l -b -I inc t
      - name: Run tests including coverage
        if: ${{ matrix.coverage }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PERL_SERVICE_NAME: github-actions
        run: |
          cpm install -g Devel::Cover::Report::Coveralls
          cover -test -report Coveralls
      - name: Run it with Net::SAML2
        if: ${{ matrix.release-test }}
        run: |
          make install
          cpanm --test-only Net::SAML2
